%Image::ExifTool::UserDefined = (
    'Image::ExifTool::XMP::Main' => {
        jpegli => {
            SubDirectory => {
                TagTable => 'Image::ExifTool::UserDefined::jpegli',
            },
        },
    },
);

%Image::ExifTool::UserDefined::jpegli = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-jpegli', 2 => 'Image' },
    NAMESPACE => { jpegli => 'https://github.com/dhcgn/jpegli-windows-explorer-extension/ns/1.0/' },
    WRITABLE => 'string',
    OptimizedBy => {},
);

1;
